* {
    /*background-color: black;*/
    margin: 0;
    padding: 0;
    font-size:13px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;

}
#pic{
    width:100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

#pic2{
    width:100%;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 1800px;
}

/*.cover {*/
    /*background-size: cover;*/

/*}*/
/*.cover-landscape {*/
    /*background-position: 43.71% 50.25%;*/
/*}*/
/*.cover-portrait {*/
    /*background-position: 51.54% 50.25%;*/
/*}*/

.header {
    color: white;
    z-index: 100;
}

.left img {
    width: 15px;
    position: relative;
    top: 2px;
}

.right img {
    width: 13px;
    position: relative;
    top: 2px;
}
/*ul {*/
    /*overflow: hidden;*/
    /*margin: 0 auto;*/
    /*display: inline-block;*/
    /*padding-left: 0*/
/*}*/
ul li{
    padding: 3px 4px;
    text-align: center;
    font-size: 15px;
    float: left;
    list-style: none;
    cursor: pointer;
    /*border-right: 1px solid #fff*/
}
/*ul li:last-child{*/
    /*!*border-right: 0*!*/
/*}*/
.left {
    position: fixed;
    left: 125px;
}

.right {
    position: fixed;
    right: 125px;
}

button {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    background: transparent;
    height: 25px;
    width: 80px;
}

button span {
    color: white;
}

.title {
    height: 54px;
    width: 404px;
    background-color: rgba(104,90,73,0.7);
    /*opacity: 0.7;*/
    color: white;
    padding: 30px;
    position: absolute;
    top: 97px;
    right: 0;
}

.title p{
    position: relative;
}

.description {
    height: 93px;
    width: 404px;
    background-color: rgba(0,0,0,0.5);
    /*opacity: 0.5;*/
    color: white;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 211px;
}

.description p{
    position: relative;
}


.number {
    color: white;
    position: relative;
    z-index: 2;
    top: 25px;
    left: -44px;
    /*left: 10px;*/
}

.movie {
    margin: 0 auto;
    position: relative;
    top: 10px;
}
.movie img{
    width: 87px;
    clip-path: polygon(22px 0px, 87px 0px, 87px 122px, 0px 122px, 0px 22px);
    margin-right: 10px;


}

.name {
    background-color: black;
    opacity: 0.5;
    color: white;
    width: 87px;
    height: 34px;
    text-align:center; /*水平居中*/
    line-height: 34px; /*垂直居中*/
    position: absolute;
    bottom: 9px;
    z-index: 1;
}

.list{
    width: 1100px;
    padding-left: 50px;
    margin: 0 auto;
    position: absolute;
    top: 410px;
    left: 0;
    right: 0;

    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

.list li {
    height: 200px;
}

.grey {
    color: grey;
}

.line {
    z-index: 1;
    position: fixed;
    bottom: 100px;
    /*border-top:1px solid #000;c*/
    width: 40px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: white;
    position: relative;
    top: 50px;
    left: -10px;;

}

.page2 {
    position: absolute;
    top: 900px;
    width: 100%;
    height: 180px;
    background-color: white;
}

.sentence2 {
    text-align:center; /*水平居中*/
    line-height: 100px; /*垂直居中*/
    font-family: STFangsong;
}

.name2 {
    position: relative;
    left: 1000px;
    font-family: STFangsong;
}